.button {
  width: 12rem;
  padding: 1rem;
  background-color: black;
  color: white;
  border: solid 1px black;
}

.button:hover {
  background-color: white;
  color: black;
  border: solid 1px black;
}

.addToCartBtn {
  width: 11rem;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255, 0.7);
  font-weight: 500;
  color: black;
  border: solid 1px black;
}

.addToCartBtn:hover {
  background-color: black;
  color: white;
  border: none;
}
