.card {
  width: 250px;
  border: solid;
  position: relative;
}

.foot {
  width: 250px;
  position: relative;
  padding: 5px;
}

.price {
  position: absolute;
  right: 0px;
}

.customBtnDiv {
  text-align: center;
  width: 250px;
  position: absolute;
  top: 200px;
  display: none;
}

.collectionDiv:hover .customBtnDiv {
  display: block;
}
